apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ include "alertmanager-webhook-servicenow.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "alertmanager-webhook-servicenow.name" . }}
    helm.sh/chart: {{ include "alertmanager-webhook-servicenow.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "alertmanager-webhook-servicenow.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "alertmanager-webhook-servicenow.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: AWSN_SERVICE_NOW_INSTANCE_NAME
            valueFrom:
                secretKeyRef:
                  name: "{{ .Values.credentials_servicenow }}"
                  key: instance_name
          - name: AWSN_SERVICE_NOW_NAME
            valueFrom:
                secretKeyRef:
                  name: "{{ .Values.credentials_servicenow }}"
                  key: user_name
          - name: AWSN_SERVICE_NOW_PASSWORD
            valueFrom:
                secretKeyRef:
                  name: "{{ .Values.credentials_servicenow }}"
                  key: password
          - name: AWSN_DEFAULT_INCIDENT_ASSIGNMENT_GROUP
            value: "{{ .Values.configuration.default_incident.assignment_group }}"
          - name: AWSN_DEFAULT_INCIDENT_IMPACT
            value: "{{ .Values.configuration.default_incident.impact }}"
          - name: AWSN_DEFAULT_INCIDENT_URGENCY
            value: "{{ .Values.configuration.default_incident.urgency }}"
          ports:
            - name: http
              containerPort: 9876
              protocol: TCP
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
