replicaCount: 1

image:
  repository: fxinnovation/awsn
  tag: 1.2.1
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: 50m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 32Mi

nodeSelector: {}

tolerations: []

affinity: {}

credentials_servicenow: 'name-of-the-secret'
configuration: {}
  #default_incident:
  #  assignment_group: "example"
  #  category: "example"
  #  cmdb_ci: "example"
  #  company: "example"
  #  contact_type: "example"
  #  impact: 2
  #  subcategory: "example"
  #  urgency: 2
  #workflow:
  #  incident_group_key_field: "example_group_reference"
  #  no_update_states: []
  #    - 1
  #    - 2
  #  incident_update_fields:
  #    - "comments"
