replicaCount: 1

image:
  repository: fxinnovation/awsn
  tag: 0.2.0
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: 50m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 32Mi

nodeSelector: {}

tolerations: []

affinity: {}

credentials_servicenow: 'name-of-the-secret'
configuration:
  default_incident:
    company: "exmaple"
    contact_type: "example"
    assignment_group: "exmaple" 
    impact: 2 
    urgency: 2
